@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* for headings (h1-h6) */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-libre text-heading;
  }

  /* for body text (p, span, b, a) */
  p,
  span,
  b,
  a {
    @apply font-inter text-paragraph;
  }
}

/* This css for play icon pulsing glow effect  */

.pulsing-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  box-shadow: rgba(243, 243, 243, 0.5) 0px 15px 25px 10px;
  animation: play 2s ease-in-out infinite;
}

.pulsing-glow::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 20px 40px 15px;
  animation: play 2s ease-in-out infinite;
}

@keyframes play {
  0% {
    transform: scale(1);
    opacity: 0;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 5px 5px;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 15px 30px 10px;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    box-shadow: rgba(95, 92, 92, 0.6) 0px 20px 40px 20px;
  }
}

.productGalleryDot {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.productGalleryDot.active {
  background-color: #ffffff;
}

.experiences-slider-track {
  transition: transform 0.5s ease;
}

.experiences-slide {
  flex: 0 0 calc(100% / 4);
}

@media (max-width: 1023px) and (min-width: 768px) {
  .experiences-slide {
    flex: 0 0 calc(100% / 2);
  }
}

@media (max-width: 767px) {
  .experiences-slide {
    flex: 0 0 calc(100% / 1);
  }
}
